In [15]:
def cal_fun_score(df, graph_data, direction='out'):

    print(f'Calculating {direction} features...')
    
    if direction == 'out' or direction == 'all':
        node1 = 'node1'
        node2 = 'node2'
    elif direction == 'in':
        node1 = 'node2'
        node2 = 'node1'

    df[f'node1_{direction}'] = df['node1'].apply(lambda node: graph_data.get_neighbors_size(node))
    df[f'node_cn_{direction}'] = df.apply(lambda row: graph_data.common_neighbors(row[node1], row[node2]), axis=1)
    df[f'node_jc_{direction}'] = df.apply(lambda row: graph_data.jaccard_coefficient(row[node1], row[node2]), axis=1)
    # df[f'node_aa_{direction}'] = graph_data.apply(lambda row: graph_out.adamic_adar(row[node1], row[node1]), axis=1)
    df[f'node_pa_{direction}'] = df.apply(lambda row: graph_data.preferential_attachment(row[node1], row[node2]), axis=1)
    # df[f'node_sp_{direction}'] = df.apply(lambda row: graph_data.shortest_path(row[node1], row[node2]), axis=1)
    return df

In [16]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

train = pd.read_csv(r'Data/new_train_data.csv', dtype = {'node1': 'int32', 'node2': 'int32', 'label': 'int32'})
test = pd.read_csv(r'Data/new_test_data.csv', dtype = {'node1': 'int32', 'node2': 'int32'})

In [17]:
from core import Graph
from core import DegreeBased
import operator

graph = Graph()

for _, row in train[train['label'] == 1].iterrows():
    graph.add_edge(row['node1'], row['node2'])

In [18]:
sg = DegreeBased(graph=graph, degree=3, operation=operator.le).fit()

In [19]:
cal_fun_score(train, sg, direction='out').describe()

Calculating out features...

,node1,node2,label,node1_out,node_cn_out,node_jc_out,node_pa_out
count,24000.000000,24000.000000,24000.00000,24000.000000,24000.000000,24000.000000,24000.000000
mean,25907.957083,29898.270208,0.50000,0.104000,-0.911833,-0.912643,-0.182458
std,14876.741795,13657.498777,0.50001,1.285789,0.289506,0.283652,1.668742
min,454.000000,458.000000,0.00000,-1.000000,-2.000000,-1.000000,-3.000000
25%,8596.750000,17031.750000,0.00000,-1.000000,-1.000000,-1.000000,-1.000000
50%,32137.000000,38136.000000,0.50000,-1.000000,-1.000000,-1.000000,-1.000000
75%,38542.000000,38772.000000,1.00000,1.000000,-1.000000,-1.000000,1.000000
max,52845.000000,52841.000000,1.00000,3.000000,2.000000,0.666667,9.000000

In [20]:
cal_fun_score(train, graph, direction='out').describe()

Calculating out features...

,node1,node2,label,node1_out,node_cn_out,node_jc_out,node_pa_out
count,24000.000000,24000.000000,24000.00000,24000.000000,24000.000000,24000.000000,24000.00000
mean,25907.957083,29898.270208,0.50000,5.506958,-0.463958,-0.509745,16.40575
std,14876.741795,13657.498777,0.50001,5.095115,0.600388,0.504042,37.35335
min,454.000000,458.000000,0.00000,-1.000000,-2.000000,-1.000000,-21.00000
25%,8596.750000,17031.750000,0.00000,1.000000,-1.000000,-1.000000,-2.00000
50%,32137.000000,38136.000000,0.50000,4.000000,-1.000000,-1.000000,1.00000
75%,38542.000000,38772.000000,1.00000,9.000000,0.000000,0.000000,20.00000
max,52845.000000,52841.000000,1.00000,21.000000,4.000000,0.666667,378.00000